*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    background: rgb(0,230,255);
    background: linear-gradient(153deg, rgba(0,230,255,1) 0%, rgba(9,23,121,1) 62%, rgba(0,8,36,1) 100%); 
}

.container_logo{
    display: flex;
}

.container_logo--logo {
    max-width: 4rem;
    border-radius: 50%;
}

.container_logo--text{
    padding: 1rem;
    margin-left: 1rem;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: bolder;
    text-decoration: underline;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
}

.open-menu,
.close-menu {
    display: none;
}

.error--menssage{
    color: #ff0000;
    font-size: 0.75rem;
}

.price--menssage{
    color: #008000;
    font-size: 0.75rem;
}

/* Media Queries */
@media screen and (max-width: 720px) {
    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .open-menu {
        color: #ffffff;
    }

    .close-menu {
        color: #fffdfd;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(9,9,121);
        background: linear-gradient(90deg, rgba(9,9,121,1) 55%, rgba(2,0,36,1) 100%); 
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}

.container_welcome{
    padding: 2rem;
    margin: 2rem 3rem;
    text-align: center;
    border: solid 1px;
    border-radius: 25px;
    background-color: #0869A6;
    color: #ffffff;
}

.container_welcome p{
    padding: 1rem 2rem;
    font-style: italic;
    font-size: 1.2rem;
}

.container_quienes-Somos{
    background-color: #0587C1;
    color: #ffffff;
    margin: 0 0.1rem;
    border-radius: 25px;
}

.container_quienes-Somos img{
    width: 9rem;
    height: 9rem;
}

.container_quienes-Somos p{
    font-size: 1.1rem;
}

.container_servicios{
    background-color: #0759A3;
    color: #ffffff;
    margin: 0 0.1rem;
    border-radius: 25px;
}

.container_servicios img{
    width: 9rem;
    height: 9rem;
}

.container_servicios p{
    font-size: 1.1rem;
}

.container_contacto {
    background-color: #08156C;
    color: #ffffff;
    margin: 0 0.1rem;
    border-radius: 25px;
}

.container_contacto img {
    width: 9rem;
    height: 9rem;
}

.container_contacto p {
    font-size: 1.1rem;
}


.container_footer{
    background-color: #050D3F;
    color: #ffffff;
}
