*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    background: rgb(0,230,255);
    background: linear-gradient(153deg, rgba(0,230,255,1) 0%, rgba(9,23,121,1) 62%, rgba(0,8,36,1) 100%); 
}

.container_logo{
    display: flex;
}

.container_logo--logo {
    max-width: 4rem;
    border-radius: 50%;
}

.container_logo--text{
    padding: 1rem;
    margin-left: 1rem;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: bolder;
    text-decoration: underline;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
}

.open-menu,
.close-menu {
    display: none;
}

.container_welcome{
    padding: 2rem;
    margin: 2rem 3rem;
    text-align: center;
    border: solid 1px;
    border-radius: 25px;
    background-color: #0869A6;
    color: #ffffff;
}

.container_welcome p{
    padding: 1rem 2.2rem;
    font-style: italic;
    font-size: 1.2rem;
}

.container_quienes-Somos{
    background-color: #0587C1;
    color: #ffffff;
    margin: 0 0.1rem;
    border-radius: 25px;
}

.container_quienes-Somos img{
    width: 9rem;
    height: 9rem;
}

.container_quienes-Somos p{
    font-size: 1.1rem;
}

.container_servicios{
    background-color: #0759A3;
    color: #ffffff;
    margin: 0 0.1rem;
    border-radius: 25px;
}

.container_servicios img{
    width: 9rem;
    height: 9rem;
}

.container_servicios p{
    font-size: 1.1rem;
}

.container_contacto {
    background-color: #08156C;
    color: #ffffff;
    margin: 0 0.1rem;
    border-radius: 25px;
}

.container_contacto img {
    width: 9rem;
    height: 9rem;
}

.container_contacto p {
    font-size: 1.1rem;
}

.container_nosotros{
    background-color: #ecfdf7;
}

.container_nosotros h1{
    background-color: #007e65;
    color: #ffffff;
    border-radius: 25px;
}

.container_nosotros--text{
    background-color: #a89bff;
    color: #fefedf;
    font-weight: bolder;
    border-radius: 25px;
    font-size: 1.2rem;
}

.container_nosotros--asiSomos{
    background-color: #41edce;
    border-radius: 15px;
    color: #4a4453;
}

.container_nosotros--asiSomos h2, p{
    font-style: italic;
}

.container_descripciónServicios h1 {
    background-color: #007e65;
    color: #ffffff;
    border-radius: 25px;
}
.container_PackServicios--descripcion{
    background-color: #5B706C;
    border-radius: 25px;
    color: #ffffff;
}

.container_PackServicios--descripcion p{
    text-align: center;
    font-weight: 200;
    font-size: 1.2rem;
    padding: 1rem 3rem;
}

.container_packs {
    border-radius: 25px;
}

.container_packs .border{
    border-radius: 15px;
}

.container_card--servicios{
    min-height: 45rem;
}

.oculto{
    display: none;
}

.contenidoBasico, .contenidoIntermedio, .contenidoPremium{
    display: block;
}

.container__atencion{
    background: linear-gradient(rgba(48, 71, 124, 0.349), rgba(7, 11, 19, 0.75)), url("../assets/img/descarga.jfif"), no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
}

.container__forms--fomulario{
    background: rgba(255, 255, 255, 0.438);
    box-shadow: 0 8px 32px 0 rgba(109, 109, 250, 0.37);
    backdrop-filter: blur(2px);
}


.error--menssage{
    color: #ff0000;
    font-size: 0.75rem;
}

.price--menssage{
    color: #007900;
    font-size: 0.75rem;
}

.container_contacto--titulo{
    background-color: #007e65;
    color: #ffffff;
    border-radius: 25px;
}

.container_footer{
    background-color: #050D3F;
    color: #ffffff;
}

/* Media Queries */
@media screen and (max-width: 720px) {
    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .open-menu {
        color: #ffffff;
    }

    .close-menu {
        color: #fffdfd;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: #090979;
        background: linear-gradient(90deg, rgba(9,9,121,1) 55%, rgba(2,0,36,1) 100%); 
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}

@media screen and (min-width: 720px){

    .container_nosotros--asiSomos .col-md-4{
        border-left: solid 2px #4a4453;
    }

} 

